* {
  box-sizing: border-box;
}

.header {
  background-color: rgba(137, 252, 231, 0.592);
  height: 30vh;
position: fixed;
margin: 0;
  width: 98%;
}
.header__titulo {
  text-align: center;
  position: relative;
  top: 30%;
  font-size: 50px;
}

.header__logo {
  position: absolute;
  height: 200px;
  top: 10%;
  left: 85%;
}

.footer {
  background-color: rgba(228, 211, 188, 0.592);
  height: 300px;
  position: relative;
  top: 500px;
}
